{% extends 'base.html.twig' %}

{% block title %}Mascotalia - Inicio{% endblock %}

{% block body %}

    {# HERO SECTION #}
    <section class="hero-section">
        <img src="https://images.unsplash.com/photo-1450778869180-41d0601e046e" alt="Perro y gato" class="hero-image">
        <h1 class="hero-text">ADOPTÁ TU NUEVO MEJOR AMIGO</h1>
    </section>

    {# CATEGORÍAS #}
    <div class="container mt-5 mb-5">
        <div class="row text-center">
            
            <div class="col-3 category-card">
                <img src="https://images.unsplash.com/photo-1591160690555-5debfba289f0?w=500&auto=format&fit=crop&q=60" alt="Cachorro" class="category-img">
                <h3 class="category-title">Cachorro</h3>
                <p class="category-subtitle">Menos de 1 año</p>
            </div>

            <div class="col-3 category-card">
                <img src="https://images.unsplash.com/photo-1583511655857-d19b40a7a54e?w=500&auto=format&fit=crop&q=60" alt="Joven" class="category-img">
                <h3 class="category-title">Joven</h3>
                <p class="category-subtitle">1-5 años</p>
            </div>

            <div class="col-3 category-card">
                <img src="https://images.unsplash.com/photo-1503256207526-0d5d80fa2f47?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8ZG9nfGVufDB8fDB8fHww" alt="Adulto" class="category-img">
                <h3 class="category-title">Adulto</h3>
                <p class="category-subtitle">5-9 años</p>
            </div>

            <div class="col-3 category-card">
                <img src="https://images.unsplash.com/photo-1607867062231-89acdc79a5e0?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8b2xkJTIwZG9nfGVufDB8fDB8fHww" alt="Abuelo" class="category-img">
                <h3 class="category-title">Abuelo</h3>
                <p class="category-subtitle">+ de 10 años</p>
            </div>

        </div>
    </div>

{% endblock %}